@import 'partials/basicNav1';
@font-face {
    font-family: LinkDX;
    src: url('fonts/zeldadxt.ttf');
}

$darkest-blue: #07131f;
$lightest-blue: #d0daf5;
$dark-blue: #303d66;
$light-blue: #6d8abf;

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
   'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
   sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: $darkest-blue;
  }
  
  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
   monospace;
  }
  
  * {
    margin: 0rem;
    padding: 0rem;
  }
  
  #header {
    color: $lightest-blue;
    font-family: LinkDX;
    font-weight: normal;
    font-size: 2.5rem;

    margin: {
      left: 0.5rem;
      top: auto;
      bottom: auto;
    }

    padding : {
      top: 0.3rem;
      bottom: 0.3rem;
    }
  }

  #headerLine {
    border: { 
      color: $light-blue;
    }
    width: 0.1rem;
    background-color: $light-blue;
  }

  #headerLogo {
    max-width: 4rem;
    margin: {
      left: 1rem;
    }
    
    padding : {
      top: 0.3rem;
      bottom: 0.3rem;
    }
  }

  #headerDiv {
    border: 0rem solid $dark-blue;
    background-color: $dark-blue;
    padding-right: 0.5rem;
  }

  #forecast, #aboutHeader, h3 {
    color: $lightest-blue;
    font-family: LinkDX;
    font-weight: normal;
  }

  #aboutPara {
    text-align: center;
    font-size: 150%;
  }

  h3 {
    a {
      color: $light-blue;
    }
    max-width: 90%;
    margin: {
      left: auto;
      right: auto;
    }
  }

  #aboutHeader {
    font-size: 2.5rem;
    text-align: center;
    padding: 1rem;
    background-color: $dark-blue;
  }

  #icon {
    width: 2rem;
    margin-right: 0.2rem;
  }

  #headerIcon {
    width: 1.7rem;
    margin-right: 0.2rem;
  }

  #temperatureText {
    padding: {
      top: auto;
      bottom: auto;
    }
  }

  .forecastDiv {
    margin: {
      right: auto;
      left: auto;
    }
    padding: {
      bottom: 1rem;
    }
    max-width: 30rem;
  }

.currentDay {
  background-image: url(../images/background.png), url(../images/backgroundblank.png), url(../images/backgroundblank.png);
  background-repeat: no-repeat repeat;
  background-position: right, center, left;
  background-size: 40rem;
  font-size: 130%;
  max-width: 100%;
  max-height: 9rem;
  height: 11rem;
  padding: {
    bottom: 1rem;
    left: 1rem;
    right: 1rem;
  }
  margin: {
    right: auto;
    left: auto;
    bottom: -1rem;
  }
  border-bottom: 0rem $dark-blue;
}

.brightLine {
  background-color: #303d664b;
}
.clouds {
  background-image: url(../images/cloudsl.png), url(../images/clouds.png);
  background-position: left, right;
  background-size: contain;
  background-repeat: no-repeat, no-repeat;
}
.birds {
  background-image: url(../images/birds.png), url(../images/birdsr.png);
  background-position: left, right;
  background-size: contain;
  background-repeat: no-repeat, no-repeat;
}

#navLogo {
  border-bottom: none;
}

#Footer {
  background-color: $dark-blue;
  border-top: 0.1rem solid $light-blue;
  nav{
    border: 0rem;
    margin: {
      top: 0rem;
      left: auto;
      right: auto;
    }
    padding: {
      top: 0rem;
      bottom: 0rem;
    }
    max-width: 75%;
    a {
      box-shadow: none;
      background-color: $dark-blue;
    }
    * {
      justify-content: space-evenly;
      margin: auto;
      color: $lightest-blue;
      font-family: LinkDX;
      font-size: 2.5rem;
      text-decoration-line: none;
      padding: 0.5rem;
    }
    div {
      ul {
        p{
          a{
            font-size: 1.2rem;
          }
          font-size: 1.2rem;
        }
        h3{
          font-size: 1.5rem;
          font-weight: normal;
        }
      }
    }
  }
}

.social {
  max-width: 4rem;
}
#youtube {
  max-width: 5rem;
}

#footerLine {
  background-color: $light-blue;
  border-color: $light-blue;
}

#copyright {
  color: $lightest-blue;
  font-family: LinkDX;
  font-weight: normal;
  padding: 0.3rem;
  text-align: center;
  a {
    color: $light-blue;
  }
}


@media (max-width: 932px){
  div.navDiv {
    nav {
      a {
        box-shadow: none;
        font-size: 160%;
        max-width: 7rem;
        padding: {
          left: 1rem;
          right: 1rem;
        }
      }
    }
  }
}

@media (max-width: 940px){
  .currentDay{
    background-image: url(../images/backgroundblank.png), url(../images/backgroundblank.png), url(../images/backgroundblank.png);
    background-repeat: no-repeat repeat;
  }
  .clouds {
    background-image: none;
  }
  .birds {
    background-image: none;
  }
}