@import 'partials/basicNav1';
@font-face {
    font-family: LinkDX;
    src: url('fonts/zeldadxt.ttf');
}

$darkest-blue: #07131f;
$lightest-blue: #d0daf5;
$dark-blue: #303d66;
$light-blue: #6d8abf;

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
   'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
   sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: $darkest-blue;
  }
  
  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
   monospace;
  }
  
  * {
    margin: 0rem;
    padding: 0rem;
  }
  
  #header {
    color: $lightest-blue;
    font-family: LinkDX;
    font-weight: normal;
    font-size: 2.5rem;

    margin: {
      left: 0.5rem;
      top: auto;
      bottom: auto;
    }

    padding : {
      top: 0.3rem;
      bottom: 0.3rem;
    }
  }

  #headerLine {
    border: { 
      color: $dark-blue;
    }
    width: 0.1rem;
    background-color: $dark-blue;
  }

  #headerLogo {
    max-width: 4rem;
    margin: {
      left: 1rem;
    }
    
    padding : {
      top: 0.3rem;
      bottom: 0.3rem;
    }
  }

  #headerDiv {
    border: 0rem solid $dark-blue;
    background-color: $dark-blue;
    padding-right: 0.5rem;
  }